<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<div th:fragment="header_menu-link">
    <div sec:authorize="hasRole('USER')">
        <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/items}">Items</a>
        <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/items/add}">Add item</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/shops}">Shops</a>
        <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/shops/add}">Add shop</a>
        <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/users}">Users</a>
        <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/users/add}">Add user</a>
    </div>
</div>

<div class="row" th:fragment="header_main_login">
    <div class="col">
        <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/home}">main</a>
    </div>
    <div class="col">
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/login}">Log in</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            User: <span sec:authentication="name">NOT FOUND</span><br>
            Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span><br>
            <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
        </div>
    </div>
</div>

</body>
</html>