<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <h1>Home.</h1>
            <div th:insert="fragment :: menu-link"></div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <div th:insert="fragment :: login"></div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>