<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item add</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <div>
                <h1>Item add.</h1>
            </div>
            <div class="mt-4" th:insert="fragment :: header_main_login"></div>
            <div th:insert="fragment :: header_menu-link"></div>

            <form action="#" th:action="@{/items/add}" method="post">
                <input type="text" name="name" class="input-group-text w-100 mt-2 mb-2" placeholder="Enter item name">
                <input type="text" name="description" class="input-group-text w-100 mt-2 mb-2" placeholder="Enter item description">
                <input type="number" name="price" class="input-group-text w-100 mt-2 mb-2" placeholder="Enter item price">
                <input type="checkbox" name="shopIds" th:each="shop : ${shops}" th:value="${shop.id}" th:text="${shop.name}">
                <button type="submit" class="btn btn-outline-secondary col-3 colConstructorName mb-3">Add</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>