<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu">
    <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/items}">Items</a>
    <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/items/add}">Add item</a>
    <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/shops}">Shops</a>
    <a class="btn btn-outline-secondary col-5 colConstructorName mb-3" href="#" th:href="@{/shops/add}">Add shop</a>
</div>
</body>
</html>