<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shops</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <h1>Shops.</h1>
            <div th:insert="menu :: menu"></div>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <td>№</td>
                    <td>name</td>
                    <td>location</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="shop : ${shops}">
                    <td th:text="${shopStat.count}">№</td>
                    <td th:text="${shop.id}" hidden>id</td>
                    <td th:text="${shop.name}">name</td>
                    <td th:text="${shop.location}">location</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>